<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Persona - Protótipo Site Americanas</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Site protótipo construído para o hackaton summit com o objetivo de melhorar a logística da loja americanas."
    />
    <link rel="stylesheet" type="text/css" href="/styles/personastyle.css" />
  </head>

  <body>
    <img class="logo" alt="Logo americanas" src="/assets/logoamericanas.jpg" />
    <h2 align="center">
      <strong>Parabéns, sua compra foi finalizada!</strong>
    </h2>
    <p align="center">
      Em breve você vai receber um e-mail com todas as informações da sua
      compra, bem como acompanhar o envio do seu produto.
    </p>
    <br />

    <button class="btn-checkout">
      <a href="/product"> Veja nossas sugestões de produtos</a>
    </button>

    <button class="btn-checkout">
      <a href="/">Voltar para a página inicial</a>
    </button>
  </body>
</html>
