<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Persona - Protótipo Site Americanas</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Site protótipo construído para o hackaton summit com o objetivo de melhorar a logística da loja americanas."
    />
    <link rel="stylesheet" type="text/css" href="/styles/personastyle.css" />
  </head>

  <body>
    <div class="content">
      <img
        id="voucher"
        alt="Cupom_de_Boas_Compras"
        src="assets/cupomboascompras.png"
      />
      <img class="logo" alt="Logo americanas" src="assets/logoamericanas.jpg" />
      <h2>
        <strong
          >Deixe que escolhemos o melhor produto com a entrega mais segura para
          você</strong
        >
      </h2>
      <form action="/loading">
        <input type="text" name="offer" placeholder="Pesquise por produto" />
        <br />
        <br />
        <input type="text" name="cep" placeholder="Pesquise por cep" />
        <br /><br /><br />
        <button type="submit" class="btn">
          Quero só ver essas melhores ofertas
        </button>
      </form>
    </div>

    <!-- <select class="select-options" name="selecionar_departamento">
        <option>Mercado </option>
        <option>Brinquedos e Bebês</option>
        <option>Celulares e telefonia fixa</option>
        <option>Informática e tablets</option>
        <option>tv áudio e home theater</option>
        <option>Moda, belexa e perfumaria</option>
        <option>games, livros e filmes</option>
        <option>Móveis e decoração</option>
        <option>Eletrodomésticos e split</option>
        <option>Eletroportáteis</option>
        <option>Produtos importados</option>
        <option>Para sua empresa</option>
        <option>Cartão, parceiros e serviços</option>
        <option>Todos os departamentos</option>
      </select> -->
  </body>
</html>
